In [13]:
import pandas as pd
import numpy as np

df_ensino1 = pd.read_csv('Pobreza abaixo de 2.15USD por dia.csv')
df_ensino2 = pd.read_csv('Pobreza abaixo de 3.65 USD por dia.csv')
df_ensino3 = pd.read_csv('Pobreza abaixo de 6.85 USD por dia.csv')


# Crie uma lista de DataFrames para facilitar a união
dataframes = [df_ensino1, df_ensino2, df_ensino3]

# Inicialize o DataFrame final com o primeiro DataFrame da lista
merged_df= dataframes[0]

# Itere sobre a lista de DataFrames e faça a união com base na coluna "country name"
for df in dataframes[1:]:
    merged_df = merged_df.merge(df, on='Country Name', how='inner')


print(merged_df.columns)

Index(['Country Name', 'Pobreza abaixo de 2.15USD/dia',
       'Pobreza abaixo de 3.65USD/dia', 'Pobreza abaixo de 6.85 USD/dia'],
      dtype='object')

In [14]:
import numpy as np

colunas_pobreza =  ['Pobreza abaixo de 2.15USD/dia', 'Pobreza abaixo de 3.65USD/dia', 'Pobreza abaixo de 6.85 USD/dia']

df_pobreza = merged_df[colunas_pobreza]

pesos = [1, 0.6, 0.2]
# Multiplique cada coluna pelo seu peso
for col, peso in zip(colunas_pobreza, pesos):
    df_pobreza[col] *= peso

# Crie uma nova coluna 'Pontuação de Ensino' que é a soma ponderada das colunas de ensino
df_pobreza['Pontuação de Pobreza'] = df_pobreza.sum(axis=1)

# Divida a soma pelo total dos pesos
total_pesos = sum(pesos)
df_pobreza['Pontuação de Pobreza'] /= total_pesos
df_pobreza = df_pobreza.replace(0, np.nan)
df_pobreza.head()

C:\Users\Pedro\AppData\Local\Temp\ipykernel_21824\1190821690.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pobreza[col] *= peso

,Pobreza abaixo de 2.15USD/dia,Pobreza abaixo de 3.65USD/dia,Pobreza abaixo de 6.85 USD/dia,Pontuação de Pobreza
0,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN
4,22.37,11.082,14.286,26.521111

In [15]:
pob_df = merged_df[['Country Name']]
df_pobreza.drop(['Pobreza abaixo de 2.15USD/dia', 'Pobreza abaixo de 3.65USD/dia', 'Pobreza abaixo de 6.85 USD/dia'], axis=1, inplace=True)
pob_df = pd.concat([merged_df, df_pobreza], axis=1).round(2)
pob_df.rename(columns={'Country Name': 'País'}, inplace=True)
merged_df.drop(['Pobreza abaixo de 2.15USD/dia', 'Pobreza abaixo de 3.65USD/dia', 'Pobreza abaixo de 6.85 USD/dia'], axis=1, inplace=True)

pob_df.head()

,País,Pobreza abaixo de 2.15USD/dia,Pobreza abaixo de 3.65USD/dia,Pobreza abaixo de 6.85 USD/dia,Pontuação de Pobreza
0,Aruba,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,NaN,NaN,NaN,NaN
2,Afghanistan,NaN,NaN,NaN,NaN
3,Africa Western and Central,NaN,NaN,NaN,NaN
4,Angola,22.37,18.47,71.43,26.52

In [16]:
pob_df.to_csv('Pontuaçao_pobreza_1.csv', index=False)